<div style="padding: 20px;">
    <div>
        <!-- <pre>{{users | json}}</pre> -->
        <kendo-grid [kendoGridBinding]="users" kendoGridSelectBy="id" [selectedKeys]="mySelection" [pageSize]="50"
            [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
            [height]="500" [columnMenu]="{ filter: true }">

            <!-- <kendo-grid [kendoGridBinding]="users" kendoGridSelectBy="Id" [selectedKeys]="mySelection" [pageSize]="50"
            [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
            [height]="500" [columnMenu]="{ filter: true }"> -->

            <ng-template kendoGridToolbarTemplate>
                <input placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event.target.value)" />
                <kendo-grid-spacer></kendo-grid-spacer>
                <!-- <button kendoGridExcelCommand type="button" icon="file-excel">Export to Excel</button>
                <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button> -->
            </ng-template>

            <kendo-grid-checkbox-column [width]="45" [headerClass]="{'text-center': true}"
                [class]="{'text-center': true}" [resizable]="false" [columnMenu]="false" showSelectAll="true">
            </kendo-grid-checkbox-column>
            <kendo-grid-column-group title="Employee" [columnMenu]="false">
                <kendo-grid-column field="EmployeeName" title="Employee Name"></kendo-grid-column>
                <kendo-grid-column field="EntryNotes" title="Entry Notes"></kendo-grid-column>
                <kendo-grid-column field="StarTimeUtc" title="Star Time Utc"></kendo-grid-column>
                <kendo-grid-column field="EndTimeUtc" title="End Time Utc"></kendo-grid-column>
            </kendo-grid-column-group>

        </kendo-grid>
    </div>

    <div style="margin: 20px 0;">
        <kendo-grid [kendoGridBinding]="gridView" kendoGridSelectBy="id" [selectedKeys]="mySelection" [pageSize]="50"
            [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
            [height]="500" [columnMenu]="{ filter: true }">

            <!-- <kendo-grid [kendoGridBinding]="users" kendoGridSelectBy="Id" [selectedKeys]="mySelection" [pageSize]="50"
            [pageable]="true" [sortable]="true" [groupable]="true" [reorderable]="true" [resizable]="true"
            [height]="500" [columnMenu]="{ filter: true }"> -->

            <ng-template kendoGridToolbarTemplate>
                <input placeholder="Search in all columns..." kendoTextBox (input)="onFilter($event.target.value)" />
                <kendo-grid-spacer></kendo-grid-spacer>
                <!-- <button kendoGridExcelCommand type="button" icon="file-excel">Export to Excel</button>
                <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button> -->
            </ng-template>

            <kendo-grid-checkbox-column [width]="45" [headerClass]="{'text-center': true}"
                [class]="{'text-center': true}" [resizable]="false" [columnMenu]="false" showSelectAll="true">
            </kendo-grid-checkbox-column>
            <kendo-grid-column-group title="Employee" [columnMenu]="false">
                <kendo-grid-column field="EmployeeName" title="Employee Name"></kendo-grid-column>
                <kendo-grid-column field="TotalTime" title="Total Time"></kendo-grid-column>
            </kendo-grid-column-group>

        </kendo-grid>
    </div>
</div>